.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 20px 45px;

  &-row {
    display: flex;
    justify-content: center;
  }
}

mat-icon {
  cursor: pointer;
}

.input-wrapper {
  margin-left: 40px;
  border-radius: 20px;
  background-color: #fff;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: #ffffffcc;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);
  overflow: hidden;

  form {
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
  }

  .input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: #fff;
    color: #1f1c2e;

    &:placeholder {
      color: #1f1c2e;
      opacity: .6;
    }
  }

  mat-icon {
    color: #1f1c2e;
  }


}